GEMINI_API_KEY = your-gemini-api-key
OPEN_API_KEY = your-open-api-key
EXA_API_KEY = your-exa-api-key
SERPER_API_KEY = your-serper-api-key 

OPENAI_API_KEY=your-OpenAI-API-key 
EXA_BASE_URL=https://api.exa.ai